body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

head {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: rgb(167, 43, 43);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.navbar{
  overflow: hidden;
  background-color: rgb(167, 43, 43);
  position: relative;
  top: 0;
  margin-left: 0;
  width: 100%;
    }


#logo {
  width: 105px;
  height: 100px;
  overflow: hidden;
  float: left;
}

h1{
  text-align: left;
  font-family:fantasy;
  font-weight: 100;
  font-size: 36px;
  color: #ffffff;
}

.navbar ul {
  background-color: #6a1c1c;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100%;
}

.footer { 
  background-color: #762b2b;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute; 
  bottom: 0;  
  z-index: 0px;
}

.navbar a {
  float: left;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: flex-end;  
}

.navbar a:hover {
  background-color: #8c2222;
  color: white;
}